<h1>
  check turbolinks
</h1>
<div class="ie-Section" id="js-ie-lens">
  <div class="ie-Section_Show">
    <p class="it-LensTitle">
      Summicron 35/2 1st
    </p>
    <%= link_to 'edit', '#', data: { behavior: 'toggle-inline-edit', inline_edit_target: 'js-ie-lens' } %>
  </div>
  <div class="ie-Section_Edit">
    <form>
      <input type="text">
      <button type="submit">
        Update
      </button>
      <%= link_to 'cancel', '#', data: { behavior: 'toggle-inline-edit', inline_edit_target: 'js-ie-lens' } %>
    </form>
  </div>
</div>
